:root {
    --orang-color: #FF7C16;
    --orang-color-hover:#e97014; 
    --white-color: #fff;
    --dark-gray: #303030;
    --blue-grey: #5E6282;
    --drak: #080809;
    --main-color: #13BEFF;
    --light-grey: #74747433;
    --bink-color:#F215B6;
    --blue-color: #253776;
  }